<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Static</title>
</head>
<body>
    <h1>Static file</h1>
    <h3>parameter로 받은 데이터: <%= data %></h3>
    <hr>
    <img src="/고양이.jpg" alt="고양이">
    <img src="/img/개.jpg" alt="개">
    <audio src="/mp3_sample.mp3" controls></audio>
</body>
</html>