<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <style>
        td {text-align: center;}
    </style>
</head>
<body>
    <h1>로그인</h1>
    <form action="/login" method="POST">
        <table>
            <tr>
                <td>UserID</td>
                <td><input type="text" name="uid"></td>
            </tr>
            <tr>
                <td>password</td>
                <td><input type="password" name="pwd"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="login"></td>
            </tr>
        </table>
    </form>
</body>
</html>