<!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>기아 타이거즈</title>
            <style>
                th, tr { text-align: center }
            </style>
        </head>
        <body style="margin: 50px;">
            <img src="./tigers/emblem.jpg" height="300">
            <button onclick="location.href='/'">홈으로</button>
            <hr>
            <form action="/update" method="post">
                <input type="hidden" name="id" value="<%= id%>">
                <table>
                    <tr>
                        <td>선수명</td><td><input type="text" name="player" value="<%= player%>"></td>
                    </tr>
                    <tr>
                        <td>백넘버</td><td><input type="text" name="backNo" value="<%= backNo%>"></td>
                    </tr>
                    <tr>
                        <td>포지션</td><td><input type="text" name="position" value="<%= position%>"></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="submit" value="수정"></td>
                    </tr>
                </table>
            </form>
        </body>
        </html>