<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/create" method="post">
        <table>
            <tr>
                <td>제목</td>
                <td><input type="text" name="title"></td>
            </tr>
            <tr>
                <td>내용</td>
                <td><textarea name="content" cols="60" rows="5"></textarea></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;"><input type="submit" value="생성"></td>
            </tr>
        </table>
    </form>
    <button onclick="location.href='/create'">생성</button>
    <button disabled="disabled">수정</button>
    <button disabled="disabled">삭제</button>
</body>
</html>